{% extends 'recipe_app/base.html' %}

{% block title %}
    Create recipe
{% endblock %}
{% block body %}
    <div>
        <h2>Create recipe</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <button type="submit">
                Сохранить
            </button>
        </form>
    </div>
    <div>
        <a href="{% url 'recipe_app:recipies_list' %}">
            Back to recipies list
        </a>
    </div>
{% endblock %}
