{% extends 'recipe_app/base.html' %}

{% block title %}
    Recipe list
{% endblock %}

{% block body %}
    <h1> Рецепты:</h1>
    {% if posts %}
        <div>
            {% for recipe in posts %}
                <div>

                    <p><a href="{% url 'recipe_app:recipe_details' pk=recipe.pk %}"> {{ recipe.title }}</a></p>
                    <p>{{ recipe.description|truncatechars:20 }}</p>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No recipies yet</h3>
    {% endif %}
    <div>
        <a href="{% url 'recipe_app:recipe_create' %}"
           >Create a new recipe</a>
    </div>
{% endblock %}